<%= render "common/slideshow" %>

<div class="container">

  <!-- goods shelf line 1-->
  <div>
    <div class="nav nav-tabs" style="bottom: 3px;">
      <li role="presentation" class="active">
        <a href="#">book_category</a>
      </li>
      <p class="tabs-text-CL">more..</p>
    </div>
    <!-- <br> -->
    <div class="row">
      <!-- No.1 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcrwuw8k1tj30rs0rs41k.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>

      <!-- No.2 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcrwuw8k1tj30rs0rs41k.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>

      <!-- No.3 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcrwuw8k1tj30rs0rs41k.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>

      <!-- No.4 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcrwuw8k1tj30rs0rs41k.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <div>

    <!-- goods shelf line 2-->
    <div class="nav nav-tabs" style="bottom: 3px;">
      <li role="presentation" class="active">
        <a href="#">book_category</a>
      </li>
      <p class="tabs-text-CL">more..</p>
    </div>

    <div class="row">
      <!-- No.1 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcspsars8kj30rs0rsgph.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>

      <!-- No.2 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcspsars8kj30rs0rsgph.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>

      <!-- No.3 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcspsars8kj30rs0rsgph.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>

      <!-- No.4 -->
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcspsars8kj30rs0rsgph.jpg" alt="...">
        </a>

        <div class="panel">
          <h5>
            <span class="slider">
              <a href="#" rel="author">
                Books_name
              </a>
            </span>
          </h5>
          <h6 class="subheader">RMB 99.00</h6>
        </div>

      </div>
    </div>
  </div>
</div>
