<!-- <div class="author">
  <p>Inspired by <a target="_blank" href="https://dribbble.com/shots/3116361-Serif-Combos">Spelar</a></p>
</div> -->

<div class="slick-slider">
  <li>
    <div class="full-card">

      <div class="font-card Bookcard_BlackSwan">
        <!-- <h3 class="font-robotoslab">Black Swan</h3> -->
        <!-- <p class="font-roboto">Black Swan...</p> -->
        <a target="_blank" href= <%= product_path(Product.find_by(title: "The Black Swan")) %> class="explore-button">Explore</a>
      </div>

      <div class="font-card Bookcard_Antifragile">
        <!-- <h3 class="font-roboto">Antifragile</h3> -->
        <!-- <p class="font-roboto">Antifragile...</p> -->
        <a target="_blank" href= <%= product_path(Product.find_by(title: "Antifragile")) %> class="explore-button">Explore</a>
      </div>

      <div class="font-card Bookcard_Fooled_by_Randomness">
        <!-- <h3 class="font-robotoslab">Randomness</h3> -->
        <!-- <p class="font-roboto">Fooled by Randomness...</p> -->
        <a target="_blank" href= <%= product_path(Product.find_by(title: "Fooled by Randomness")) %> class="explore-button">Explore</a>
      </div>

    </div>
  </li>

  <li>
    <div class="full-card">


    </div>
  </li>


  <li>
    <div class="full-card">


    </div>
  </li>
</div>
