// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/////////////// navbar ///////////////
.navbar-inverse{
  position: relative;;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid
}

.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: auto;
}

.break_CL{
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 3px solid #c0c0c0;
}


/////////////// slideshow ///////////////
.container{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.carousel{
  padding-top: 53px;
}

.carousel-inner{
  width: 100%;
}


/////////////// goods shelf ///////////////
.nav-tab{
  padding-bottom: 3px;
}

.tabs-text-CL{
  height: 40px;
  text-align: right;
  // display: table-cell;
  vertical-align: bottom;
  margin: 0;
}


.goodsShelf{
  margin-bottom: 20px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}


span.slider{
  display: inline-block;
  overflow: hidden;
}


/////////////// footer ///////////////
.bs-docs-footer{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #eeeeee;
  background-color: #222222;
}
